version: '3.8'

services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3002:3002"
    environment:
      - NODE_ENV=production
    volumes:
      # Uncomment the following lines only when you want to reuse volumes in a dev-like scenario
      # - .:/app
      # - /app/node_modules
      # - /app/.next
    restart: unless-stopped
